.btn{
    display: inline-flex;
    padding: 0.8rem 1rem;
    margin: 0.5rem 0;
    width: max-content;

    background: var(--sec-med);
    border: 0.15rem solid var(--prim-med);
    color: var(--font-dark);
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;

    &:hover{
        background-color: var(--prim-med);
        border-color: var(--ter-med);
        color: var(--font-light);
    }

    &--alert{
        background: var(--sec-med);
        border: 0.15rem solid rgb(192, 0, 0);

        &:hover{
            background-color: rgb(192, 0, 0);
            border-color: rgb(192, 0, 0);
            color: var(--font-light);
        }
    }

    &--disabled{
        pointer-events: none;
        background-color: rgb(207, 207, 207);
        border-color: rgb(172, 172, 172);
        color: rgb(172, 172, 172);
    }
}